.navbar {
  background-color: #4ea8e6;

  img {
    margin-left: 14px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 4px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .nav-item {
    margin: 0 auto;
    @media (min-width: 768px) {
      margin: 0 0px 0 21px;
    }
  }
}
