.container {
  min-width: 80%;

  .first-row {
    margin: 40px 0 0 0;

    textarea {
      min-height: 60vh;
    }

    .validation-message {
      color: #b94b29;
      padding-left: 10px;
      position: absolute;
    }

    .alert-container {
      height: 50px;

      .alert {
        padding: 0.53rem 1.25rem;

        .alert-text {
          text-align: center;
          color: whitesmoke;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }

      .inside-textarea {
        top: -43px;
        background-color: #6dc796;
      }
    }
  }

  .btn-container {
    margin: 0 auto;

    .btn {
      background-color: #4ea8e6; // Analogous color = #816dc7
      border-color: #6d9fc7;
      color: white;
      margin: 0 10px 0 0;
    }
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal-dialog {
  top: 20%;
}

.modal-header {
  background-color: #6d9fc7;
  color: white;
  padding: .6rem .6rem .7rem .8rem;
}

.modal-header .close {
  position: absolute;
  right: 20px;
}

.modal-content {
  border-radius: .4rem;
}
