  .container {
    margin: 70px auto;

    .notepaper {
      position: relative;
      padding: 29px 20px 20px 45px;
      width: 100%;
      line-height: 30px;
      color: #6a5f49;
      text-shadow: 0 1px 1px white;
      background-color: #fefff4;
      background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
      background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
      background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
      border: 1px solid #c3baaa;
      border-color: rgba(195, 186, 170, 0.9);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #e3e7ae, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);

      .quote {
        font-family: Georgia, serif;
        font-size: 16px;
      }
    }

    .notepaper:before,
    .notepaper:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .notepaper:before {
      left: 28px;
      width: 2px;
      border: solid #efcfad;
      border-color: rgba(239, 207, 173, 0.9);
      border-width: 0 1px;
    }

    .notepaper:after {
      z-index: -1;
      left: 0;
      right: 0;
      background: #feffefe6;
      border: 1px solid rgba(170, 157, 134, 0.7);
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      transform: rotate(2deg);
    }
  }
