<div class="container">
      <div class="notepaper">
        <figure class="quote">
          <blockquote class="curly-quotes">
            - Stylometry is the statistical analysis of variations in literary style between one writer or genre and another.
            <br><br>
            - It is is often used to attribute authorship to anonymous or disputed documents. It has legal as well as academic and literary applications, ranging from the question of the authorship of Shakespeare's works to forensic linguistics. Stylometric methods are discussed in several academic fields such as machine learning, natural language processing, and lexicography.
            <br><br>
            - This tool can help evade styloemtry by changing the structure and style of the text, thus making attribution very difficult.
            <br><br>
            - It can also help evade behavioral biometric recognition by copying the text from this tool and pasting it to untrusted websites.
            <br><br>
            - "Man is least himself when he talks in his own person. Give him a mask, and he will tell you the truth." - Oscar Wilde
          </blockquote>
        </figure>
  </div>
</div>
